neo4j-home
*~
\#*
out
target/classes
target/test-classes
target/maven-status
target/generated-sources
target/maven-archiver
target/surefire-reports
target/original-procedure-template-1.0.0-SNAPSHOT.jar
target/procedure-template-1.0.0-SNAPSHOT.jar
.project
.classpath
.settings
.externalToolBuilders/
.scala_dependencies
.factorypath
.cache
.cache-main
.cache-tests
*.iws
*.ipr
*.iml
.idea
.DS_Store
.shell_history
.mailmap
.java-version
.cache-main
.cache-tests
Thumbs.db
.cache-main
.cache-tests
logs
